Django==5.1.4
python-dotenv==1.0.0
mysqlclient==2.2.0
aiobotocore==2.7.0
boto3==1.34.0


[Unit]
  Description=gunicorn daemon
  After=network.target

  [Service]
  User=root
  Group=www-data
  WorkingDirectory=/home/root/legalCRM
  ExecStart=/home/root/legalCRM/venv/bin/gunicorn --workers 3 --bind unix:/home/root/legalCRM/gunicorn.sock legalCRM.wsgi:application

  [Install]
  WantedBy=multi-root.target



[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=<linux user>
Group=www-data
WorkingDirectory=<project_root_directory>
ExecStart=<project_root_directory>/venv/bin/gunicorn --access-logfile - --workers 3 --bind unix:<project_root_directory>server.sock <Project main application>.wsgi:application

[Install]
WantedBy=multi-user.target