{% load static %}
{% if user.is_authenticated %}
<link rel="stylesheet" href="{% static 'css/nav.css' %}" />
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<nav role="main container col">
    <!-- Заголовок и информация пользователя -->
    <div class="user-info">
        <div class="user-header">
            <span class="company-id">ID компании: {{ user.companys.id }}</span>
            <div style="display:flex; justify-content:space-between;">
                <h2 class="username">{{ user.username }}</h2>
                <a class="nav-link" href="{% url 'logout' %}"><img src="/static/img/logout.png" alt=""></a>
            </div>
        </div>
        <div class="user-email">
            <a href="mailto:{{ user.email }}" class="email-link">{{ user.email }}</a>
        </div>
    </div>

    {% if user.status != "ОП" %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script>
let currentDate = new Date();

function formatDate(date) {
    const year = date.getFullYear();
    const month = String(date.getMonth() + 1).padStart(2, '0');
    const day = String(date.getDate()).padStart(2, '0');
    return `${year}-${month}-${day}`;
}

function updateCalendar(newDate) {
    const formattedDate = formatDate(newDate);

    $.ajax({
        type: "POST",
        url: "https://yblochko.rosscrm.ru/home/get_time/",
        headers: { "X-CSRFToken": "{{ csrf_token }}" },
        data: { date: formattedDate },
        success: function(data) {
            $("#content-container").html(data);
            currentDate = newDate;
        },
        error: function(xhr) {
            console.error("Ошибка:", xhr.responseText);
        }
    });
}

$(document).ready(function() {
    updateCalendar(currentDate);

    $("#last_date").on("click", function(e) {
        e.preventDefault();
        const newDate = new Date(currentDate);
        newDate.setMonth(newDate.getMonth() - 1);
        updateCalendar(newDate);
    });

    $("#next_date").on("click", function(e) {
        e.preventDefault();
        const newDate = new Date(currentDate);
        newDate.setMonth(newDate.getMonth() + 1);
        updateCalendar(newDate);
    });
});
    </script>

    <div class="month-navigation">
        <button id="last_date" class="nav-button">Предыдущий месяц</button>
        <button id="next_date" class="nav-button next-month">Следующий месяц</button>
    </div>

    <div id="content-container"></div>
    {% endif %}

    <div class="sidebar-menu">
        <ul>
        {% if user.is_authenticated %}
            <li class="create-lead-cta">
                <span>
                    <a class="create-lead-link" style="color:#fff; text-decoration:none;" href="{% url 'add_record' %}">
                        <img src="{% static 'img/add_lead.png' %}" alt="Создать заявку" width="40" height="40">
                    </a>
                </span>
            </li>

            {% if user.status == "Директор КЦ" %}
                <li class="active">
                    <span><a style="color:#fff; text-decoration:none;" href="{% url 'desktop' %}"><img src="{% static 'img/leads.png' %}" alt=""> Рабочий стол</a></span>
                </li>
                <li class="active">
                    <span><a style="color:#fff; text-decoration:none;" href="{% url 'all_leads' %}"> Все заявки</a></span>
                </li>
                <li>
                    <span><a style="color:#fff; text-decoration:none;" href="{% url 'todolist' %}"><img src="{% static 'img/to-do-list.png' %}" alt=""> Список задач</a></span>
                </li>
            {% endif %}

            {% if user.status == "Оператор" %}
                <li class="active">
                    <span><a style="color:#fff; text-decoration:none;" href="{% url 'desktop' %}"><img src="{% static 'img/leads.png' %}" alt=""> Рабочий стол</a></span>
                </li>
                <li class="active">
                    <span><a style="color:#fff; text-decoration:none;" href="{% url 'all_leads' %}"> Все заявки</a></span>
                </li>
                <li>
                    <span><a style="color:#fff; text-decoration:none;" href="{% url 'todolist' %}"><img src="{% static 'img/to-do-list.png' %}" alt=""> Список задач</a></span>
                </li>
            {% endif %}

            {% if user.status == "Директор ЮПП" %}
                <li class="active">
                    <span><a style="color:#fff; text-decoration:none;" href="{% url 'desktop' %}"><img src="{% static 'img/leads.png' %}" alt=""> Рабочий стол</a></span>
                </li>
                <li class="active">
                    <span><a style="color:#fff; text-decoration:none;" href="{% url 'all_leads' %}"> Все заявки</a></span>
                </li>
                <li>
                    <span><a style="color:#fff; text-decoration:none;" href="{% url 'todolist' %}"><img src="{% static 'img/to-do-list.png' %}" alt=""> Список задач</a></span>
                </li>
                <li>
                    <span><a style="color:#fff; text-decoration:none;" href="{% url 'brak' %}"><img src="{% static 'img/brak.png' %}" width="28" alt=""> Бракованные сделки</a></span>
                </li>
            {% endif %}

            {% if user.status == "Юрист пирвичник" %}
                <li class="active">
                    <span><a style="color:#fff; text-decoration:none;" href="{% url 'desktop' %}"><img src="{% static 'img/leads.png' %}" alt=""> Рабочий стол</a></span>
                </li>
                <li class="active">
                    <span><a style="color:#fff; text-decoration:none;" href="{% url 'all_leads' %}"> Все заявки</a></span>
                </li>
                <li>
                    <span><a style="color:#fff; text-decoration:none;" href="{% url 'todolist' %}"><img src="{% static 'img/to-do-list.png' %}" alt=""> Список задач</a></span>
                </li>
            {% endif %}

            {% if user.status == "ОП" %}
                <li class="active">
                    <span><a style="color:#fff; text-decoration:none;" href="{% url 'desktop' %}"><img src="{% static 'img/leads.png' %}" alt=""> Рабочий стол</a></span>
                </li>
                <li class="active">
                    <span><a style="color:#fff; text-decoration:none;" href="{% url 'all_leads' %}"> Все заявки</a></span>
                </li>
                <li>
                    <span><a style="color:#fff; text-decoration:none;" href="{% url 'todolist' %}"><img src="{% static 'img/to-do-list.png' %}" alt=""> Список задач</a></span>
                </li>
            {% endif %}

            {% if user.status == "Директор представителей" %}
                <li class="active">
                    <span><a style="color:#fff; text-decoration:none;" href="{% url 'desktop' %}"><img src="{% static 'img/leads.png' %}" alt=""> Рабочий стол</a></span>
                </li>
                <li class="active">
                    <span><a style="color:#fff; text-decoration:none;" href="{% url 'all_leads' %}"> Все заявки</a></span>
                </li>
                <li>
                    <span><a style="color:#fff; text-decoration:none;" href="{% url 'todolist' %}"><img src="{% static 'img/to-do-list.png' %}" alt=""> Список задач</a></span>
                </li>
            {% endif %}

            {% if user.status == "Представитель" %}
                <li class="active">
                    <span><a style="color:#fff; text-decoration:none;" href="{% url 'desktop' %}"><img src="{% static 'img/leads.png' %}" alt=""> Рабочий стол</a></span>
                </li>
                <li class="active">
                    <span><a style="color:#fff; text-decoration:none;" href="{% url 'all_leads' %}"> Все заявки</a></span>
                </li>
                <li>
                    <span><a style="color:#fff; text-decoration:none;" href="{% url 'todolist' %}"><img src="{% static 'img/to-do-list.png' %}" alt=""> Список задач</a></span>
                </li>
            {% endif %}

            {% if user.status == "Менеджер" %}
                <li class="active">
                    <span><a style="color:#fff; text-decoration:none;" href="{% url 'desktop' %}"><img src="{% static 'img/leads.png' %}" alt=""> Рабочий стол</a></span>
                </li>
                <li class="active">
                    <span><a style="color:#fff; text-decoration:none;" href="{% url 'all_leads' %}"> Все заявки</a></span>
                </li>
                <li>
                    <span><a style="color:#fff; text-decoration:none;" href="{% url 'todolist' %}"><img src="{% static 'img/to-do-list.png' %}" alt=""> Список задач</a></span>
                </li>
            {% endif %}

            {% if user.status == "Администратор" %}
                <li class="active">
                    <span><a style="color:#fff; text-decoration:none;" href="{% url 'desktop' %}"><img src="{% static 'img/leads.png' %}" alt=""> Рабочий стол</a></span>
                </li>
                <li class="active">
                    <span><a style="color:#fff; text-decoration:none;" href="{% url 'all_leads' %}"> Все заявки</a></span>
                </li>
                <li>
                    <span><a style="color:#fff; text-decoration:none;" href="{% url 'todolist' %}"><img src="{% static 'img/to-do-list.png' %}" alt=""> Список задач</a></span>
                </li>
                <li>
                    <span><a style="color:#fff; text-decoration:none;" href="{% url 'brak' %}"><img src="{% static 'img/brak.png' %}" width="28" alt=""> Бракованные сделки</a></span>
                </li>
                <li>
                    <span><a style="color:#fff; text-decoration:none;" href="{% url 'reg' %}"><img src="{% static 'img/add_user.png' %}" alt=""> Добавить пользователя</a></span>
                </li>
                <li>
                    <span><a style="color:#fff; text-decoration:none;" href="{% url 'employees' %}"><img src="{% static 'img/employee.png' %}" width="28" alt=""> Пользователи</a></span>
                </li>
                <li>
                    <span><a style="color:#fff; text-decoration:none;" href="{% url 'add_felial' %}"><img src="{% static 'img/add_felial.png' %}" alt=""> Создать филиал</a></span>
                </li>
                <li>
                    <span><a style="color:#fff; text-decoration:none;" href="{% url 'felials' %}"><img src="{% static 'img/branch.png' %}" alt=""> Ваши филиалы</a></span>
                </li>
            {% endif %}

            {% if user.username == "Yrik" or user.username == "Сергей" %}
                <li>
                    <span><a style="color:#fff; text-decoration:none;" href="{% url 'companys' %}"><img width="24" src="{% static 'img/statistics.png' %}" alt=""> Статистика компаний</a></span>
                </li>
            {% endif %}

        {% endif %}
        </ul>
    </div>
</nav>
{% endif %}
