{% extends "base.html" %}

{% block content %}
<div class="col-md-8 offset-md-2">
    <h1>Редактирование заявки #{{ record.id }}</h1>

    {% if can_edit_main %}
        <div class="card mb-4">
            <div class="card-body">
                <h4>Основные данные заявки</h4>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="update_record">
                    {{ edit_form.as_p }}
                    <button type="submit" class="btn btn-success">Сохранить имя и описание</button>
                </form>
            </div>
        </div>
    {% endif %}

    {% if can_edit_comment_kc %}
    <div class="card mb-4">
        <div class="card-body">
            <h4>Комментарии КЦ</h4>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="action" value="update_comment_kc">
                {{ comment_kc_form.as_p }}
                <button type="submit" class="btn btn-primary">Сохранить комментарии КЦ</button>
            </form>
        </div>
    </div>
    {% endif %}

    {% if can_edit_comment_upp %}
    <div class="card mb-4">
        <div class="card-body">
            <h4>Комментарии ЮПП</h4>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="action" value="update_comment_upp">
                {{ comment_upp_form.as_p }}
                <button type="submit" class="btn btn-primary">Сохранить комментарии ЮПП</button>
            </form>
        </div>
    </div>
    {% endif %}

    {% if can_edit_comment_op %}
    <div class="card mb-4">
        <div class="card-body">
            <h4>Комментарии ОП</h4>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="action" value="update_comment_op">
                {{ comment_op_form.as_p }}
                <button type="submit" class="btn btn-primary">Сохранить комментарии ОП</button>
            </form>
        </div>
    </div>
    {% endif %}

    <div style="margin-top: 16px;">
        <a href="{% url 'record' record.id %}" class="btn btn-secondary">Назад к заявке</a>
    </div>
</div>
{% endblock content %}
