/* Панель меню слева */
@font-face {
    font-family: 'tilda-sans_regular';
    src: url('../fonts/tilda-sans_regular.woff') format('woff');
}

@font-face {
    font-family: 'tilda-sans_bold';
    src: url('../fonts/tilda-sans_bold.woff') format('woff');
}

@font-face {
    font-family: 'druktextwidecyr-medium';
    src: url('../fonts/druktextwidecyr-medium.woff') format('woff');
}

nav{
  display: flex;
  width: 150px;
  float: left;
  display: inline;
  margin: 0;
  margin-right: 10px;
  width: 300px;
  height: 100vh;
  position: fixed;
    background: #2c3e50;
    color: #ecf0f1;
    padding: 20px 15px;
    font-family: 'Segoe UI', sans-serif;
}


nav {
            overflow-y: auto; /* Включаем прокрутку по вертикали */
            scrollbar-width: thin;
            scrollbar-color: darkgrey transparent;
}


.user-header {
    border-bottom: 1px solid #34495e;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.username {
    margin: 0;
    font-size: 1.4em;
    color: #fff;
}

.company-id {
    font-size: 0.9em;
    color: #7f8c8d;
}

.user-email {
    margin-bottom: 25px;
}

.email-link {
    color: #3498db;
    text-decoration: none;
    font-size: 0.9em;
}

.email-link:hover {
    text-decoration: underline;
}

.month-navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.nav-button {
    background: none;
    border: 1px solid #34495e;
    color: #bdc3c7;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.nav-button:hover {
    background: #34495e;
    color: #fff;
}

.sidebar-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-menu li {
    padding: 12px 15px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 0.2s ease;
}

.sidebar-menu li:hover {
    background: #34495e;
}

.sidebar-menu li.active {
    color: white;
}

.sidebar-menu i {
    width: 25px;
    margin-right: 15px;
    font-size: 1.1em;
}

/* Иконки Font Awesome */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
/***************************/