@font-face {
    font-family: 'tilda-sans_regular';
    src: url('../fonts/tilda-sans_regular.woff') format('woff');
}

@font-face {
    font-family: 'tilda-sans_bold';
    src: url('../fonts/tilda-sans_bold.woff') format('woff');
}

@font-face {
    font-family: 'druktextwidecyr-medium';
    src: url('druktextwidecyr-medium.woff') format('woff');
}


.pole{
	    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	width: 425px;
	min-height: 458px;
	border: solid 0.5px #fff;
	border-radius: 20px;
	margin-top: 25vh;
	box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
	padding: 24px 20px;
}

.authenticated{
	 display: flex;
    flex-direction: column;
}

.authenticated > input{
	width: 100%;
	padding: 10px 16px;
	margin-bottom: 30px;
	border-radius: 25px;
	border: 0px;
	background-color:#F2F2F2 ;
	text-align: center;
	font-family: tilda-sans_regular;
}

h3{
	margin-bottom: 40px;
	font-family: druktextwidecyr-medium;
	letter-spacing: .2rem;
	text-align:center;
}

