{% extends "base.html" %}

{% block content %}
{% load static %}
<style>
    .input{
    padding: 10px 70px ;
	margin-bottom: 30px;
	border-radius: 25px;
	border: 0px;
	background-color:#F2F2F2 ;
	text-align: center;
	font-family: tilda-sans_regular;
    }
.pole{
	    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	width: 425px;
	height: 458px;
	border: solid 0.5px #fff;
	border-radius: 20px;
	margin-top: 25vh;
	box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

    .form{
            display: flex;
    flex-direction: column;
    align-items: center;

    }
</style>
<div style="    display: flex;
    justify-content: center;">
    <div class="pole">
 <form method="post" class="form">
     <h3>Доплата</h3>
                {% csrf_token %}
                {{surcharge_form.as_p}}
                <button type="submit" class="btn btn-success">Указать</button>
 </form>

</div>

</div>



{% endblock content %}

