{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/table.css' %}" />

<div class="row main_tb">
  <div class="col-12">
    <table class="table table-striped table-hover rounded-3">
  <thead>
     <tr class="table-success">
       <th scope="col"><p>Имя</p></th>
       <th scope="col"><p>Email</p></th>
       <th scope="col"><p>Статус</p></th>
     </tr>
   </thead>
   <tbody>
   <tr>
       {% for user in users %}
        <tr>
          <td class="table-default"><p>{{ user.username }}</p></td>
          <td class="table-default"><p>{{ user.email }}</p></td>
          <td class="table-default"><p>{{ user.status }}</p></td>
        </tr>
        {% endfor %}

   </tr>
</tbody>
</table>

  </div>

</div>


{% endblock content %}