{% extends "base.html" %}
{% block content %}
    <style>
        .schedule-container {
            position: relative;
            height: 720px; /* 12 часов * 60px */
            margin: 20px;
        }

        .time-column {
            left: 0;
            width: 60px;
            height: 100%;
        }

        .time-slot {
            height: 60px;
            border-bottom: 1px solid #eee;
            text-align: right;
            padding-right: 5px;
        }

        .bookings-container {
            left: 60px;
            right: 0;
            height: 4800px;
            background: #f8f9fa;
        }

        .booking-card {
                position: absolute;
            background: #e3f2fd;
            border-left: 4px solid #2196f3;
            padding: 8px;
            overflow: hidden;
            box-sizing: border-box;
            border-radius: 4px;
            #baffdf
        }
        .surcharge-card {
                position: relative;
            background: #baffdf;
            border-left: 4px solid #009b53;
            padding: 8px;
            overflow: hidden;
            box-sizing: border-box;
            border-radius: 4px;
            #baffdf
        }

        .navigation {
            margin: 20px;
            text-align: center;
        }
    </style>
<a href="{% url 'add_event' selected_date%}" class="btn btn-success" style="margin-top:50px">Добавить запись</a>

{% load custom_tags %}
{% load static %}
    <div class="navigation">

        <h3 style="margin: 0 20px;"><a href="?date={{ previous_date|date:'Y-m-d' }}" style="color: black;
    font-size: 35px;
    text-decoration: none;">←</a>  {{ selected_date|date:"d.m.Y" }}  <a href="?date={{ next_date|date:'Y-m-d' }}" style="color: black;
    font-size: 35px;
    text-decoration: none;">→</a></h3>

    </div>
<div class="" style="    display: flex
;
    justify-content: space-evenly;">
    <h3>Записи в офис</h3>
    <h3>Доплаты</h3>
</div>

    <div class="schedule-container row">
        <!-- Временная шкала -->
        <div class="time-column col-1" style="margin-top:28px; font-size: 16px;">
            {% for hour in 9|get_range:20 %}
                <div class="time-slot" style="height: 400px;">
                    <p style="font-size: 16px;    margin-bottom: 170px;">{{ hour }}:00</p>
                    <p style="font-size: 14px; ">{{ hour }}:30</p>
                </div>
            {% endfor %}
        </div>
        <div class="col row">
                    <!-- Карточки записей -->
        <div class="bookings-container col-6">
            <div class="row">
                {% for user in users %}
                {% if user.status == "Юрист пирвичник" %}
                <div class="col-3" style="position: relative;"><h4 style="    color: #595959; border-bottom: 1px solid; text-align: center;">{{ user.username}}</h4>
                    {% for booking in bookings %}
                        {% if booking.employees.id == user.id %}
                            {% with start=booking.time %}
                            {% with top=start|math:400%}
                            {% with height=100 %}
                            <div class="booking-card"
                                 style="top: {{ top }}px;
                                        height: {{ height }}px;
                                        left: 10px;
                                        right: 10px; margin-top:15px;">
                                <strong> <a href="{% url 'record' booking.client.id %}" style="    color: #7e7f7f; text-decoration: none;">{{ booking.client }}</a></strong><br>

                            </div>
                            {% endwith %}{% endwith %}{% endwith %}
                        {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>

         <div class="bookings-container col-6">
                <div class="row">
                    {% for user in users %}
                    {% if user.status == "Юрист пирвичник" %}
                        <div class="col-3"><h4 style="color: #595959; border-bottom: 1px solid; text-align: center;">{{ user.username}}</h4>
                            {% for surcharge in surcharges %}
                            {% if surcharge.responsible.id == user.id %}
                            {% with start=surcharge.dat %}
                            {% with top=start|multiply:400%}
                            {% with height=100 %}
                            <div class="surcharge-card"
                                 style="top: {{ top }}px;
                                                       height: {{ height }}px;
                                                       left: 10px;
                                                       right: 10px;">
                                <strong><a href="{% url 'record' surcharge.record.id %}" style="color:#000;     text-decoration: none;">{{ surcharge.record }}</a> - {{ surcharge.cost }} ₽</strong><br>
                            </div>
{% endwith %}{% endwith %}{% endwith %}
                            {% endif %}
                            {% endfor %}

                        </div>
                    {% endif %}
                        {% endfor %}

                </div>


        </div>


        </div>

    </div>

{% endblock content %}