
<div class="mini-calendar">

    <div class="calendar-header"><h4>{{ month_name }}</h4></div>
    <table>
        <thead>
            <tr>
                {% for day in header %}
                    <th>{{ day }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for week in weeks %}
                <tr>
                    {% for day_data in week %}
                        <td>

                            {% if day_data.day != 0 %}
                            <div class="caunt">
                                {% if day_data.surcharges_count > 0 %}
                                    <div class="surcharge-count">{{ day_data.surcharges_count }}</div>

                                {% endif %}
                                 {% if day_data.count > 0 %}
                                    <div class="booking-count current-day">{{ day_data.count }}</div>
                                {% endif %}
                            </div>

                            <div class="day-number"><a href="{% url 'calendar'%}?date={{day_data.year}}-{{day_data.month}}-{{day_data.day}}" style="    text-decoration: none;">{{ day_data.day }}</a></div>
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<style>
.mini-calendar {
    top: 20px;
    right: 20px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
}

.calendar-header {
    text-align: center;
    font-weight: bold;
    margin-bottom: 8px;
}

.mini-calendar table {
    border-collapse: collapse;
    font-size: 0.8em;
        margin-top: 0px;
        width: 100%;
}

.mini-calendar th,
.mini-calendar td {
    width: 24px;
    height: 24px;
    text-align: center;
    padding: 2px;
    font-size:20px;
    border: none;
    border: none;
}
.mini-calendar td a {
font-size:20px;
color:#fff;
}

.mini-calendar td.other-month {
    color: #ccc;
}

.current-day {

    background: #0048a3;
    width: 20px;
    height: 20px;
    font-size: 12px;

}
.surcharge-count{
    background: #009b53;
    width: 20px;
    height: 20px;
    font-size: 12px;

}
.caunt{

    display: flex
;
    flex-direction: column;
    height: 30px;
    align-items: center;    display: flex
;
    flex-direction: column;
    height: 30px;
    align-items: center;
}
</style>


